---
layout: page
title: Categories
---
<div class="page-container">
  <div class="bar bg-mc" id="myDIV" >
    <a href="/models" class="bar-item button">Latest Upload</a>
    <a href="/categories" class="bar-item button" style="background-color:deepskyblue;">Categories</a>
    <a href="/tags" class="bar-item button">Tags</a>
    <a href="/gallery" class="bar-item button" alt="Gallery" title="Gallery">Gallery</a>
  </div>
</div>
{% for models in site.categories %}
<div class="page-container" style="padding:0px 15px;">
<h6>{{models[0] | capitalize}}</h6>
</div>
<div class="page-row">
{% for post in models[1] %}
  <div class="page-column" style="border-color: none;">
    <div class="page-card" style="border-color: #fff;">
    <a alt="Free 3D {{ post.title }}" title="Free 3D {{ post.title }}" style="text-decoration: none;" href="{{site.baseurl}}{{post.url}}">
    <img alt="Free 3D {{ post.title }}" title="Free 3D {{ post.title }}" src="{{post.image}}" class="img">
    <h3 style="font-size: 1rem; font-weight: 400; color: #333;">{{ post.title }}</h3>
    </a>
    </div>
  </div>
{% endfor %}
</div>
{% endfor %}
