---
layout: page
title: Gallery
---
<div class="page-container" style="padding:22px 15px 0px 15px;">
  <div class="bar bg-mc" id="myDIV" >
    <a href="/models" class="bar-item button" alt="Models" title="Models">Latest Upload</a>
    <a href="/categories" class="bar-item button" alt="Categories" title="Categories">Categories</a>
    <a href="/tags" class="bar-item button" alt="Tags" title="Tags">Tags</a>
    <a href="/gallery" class="bar-item button" alt="Gallery" title="Gallery" style="background-color:deepskyblue;">Gallery</a>
  </div>
</div>
<div class="page-row">
{% for image in site.static_files %}
  <div class="page-column" style="border-color: none;">
    <div class="page-card" style="border-color: #fff;">
    {% if image.path contains 'assets/images' %}
        <img class="img" style="border-radius:none;" src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.title }}" title="{{ image.title }}" />
    {% endif %}
    </div>
  </div>
{% endfor %}
</div>
