<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CG 3D - Free 3D Assets</title>
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />
<meta property="og:site_name" content="CG 3D">
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<link rel="canonical" href="{{ page.url | prepend: site.url }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
<link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="top">
  <div class="bar" id="myNavbar">
    <a class="bar-item button hover-black hide-medium hide-large right" href="javascript:void(0);" onclick="toggleFunction()">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/license" class="bar-item button hide-small">License</a>
    <a href="/support" class="bar-item button hide-small">Support</a>
    <a class="bar-item button hide-small right hover-red" onclick="document.getElementById('searchModal').style.display='block'">
      <i class="fa fa-search"></i>
    </a>
  </div>
  <!-- Navbar on small screens -->
  <div id="navBar" class="bar-block white hide hide-large hide-medium">
    <a href="/license" class="bar-item button" onclick="toggleFunction()">License</a>
    <a href="/support" class="bar-item button" onclick="toggleFunction()">Support</a>
    <a class="bar-item button" onclick="document.getElementById('searchModal').style.display='block'">Search</a>
  </div>
</div>

<header class="bgimg-1 display-container grayscale-min" id="home">
  <div class="display-middle text-white" style="padding:48px">
    <span class="jumbo hide-small">CG3D.ORG</span><br>
    <span class="xxlarge hide-large hide-medium">CG3D.ORG</span><br>
    <span class="large">Free 3D Assets</span>
    <p><a href="/categories" class="button white padding-large large margin-top opacity hover-opacity-off">Browse Models</a></p>
  </div> 
  <div class="display-bottomleft text-grey large" style="padding:24px 48px">
    <i style="color:#fff;font-size:10px;">Render by <a href="https://pretendedstudio.com" style="text-decoration:underline;">Pretended Studio</a></i>
</header>

  <!-- Search Modal -->
  <div id="searchModal" class="modal">
    <div class="modal-content animate-top card-4">
      <header class="container bg-color center padding-32"> 
        <span onclick="document.getElementById('searchModal').style.display='none'" 
       class="button bg-color xlarge display-topright">×</span>
        <h2 class="wide"><i class="fa fa-search margin-right"></i>Search</h2>
      </header>
      <div class="container">
        <div id="search-container">
        <input type="text" id="search-input" placeholder="Search...">
        </div>
        <div class="column">
        <div id="results-container" class="page-card">
        <!-- Search results here -->
        </div>
        </div>
      </div>
    </div>
  </div>

<script src="https://mohamadrido.com/assets/navbar.js"></script>
<script src="https://mohamadrido.com/assets/search.min.js"></script>
<script>
   window.simpleJekyllSearch = new SimpleJekyllSearch({
     searchInput: document.getElementById('search-input'),
     resultsContainer: document.getElementById('results-container'),
     json: 'https://cg3d.org/search.json',
     searchResultTemplate: '<div class="card" style="border-radius: 5px; box-shadow:0 1px 2px 0 #999;text-align:center;"><a href="https://cg3d.org{url}" title="{title}"><img style="border-radius: 5px 5px 0 0; width: 100%;" src="https://cg3d.org/assets/images{url}.jpg"><h6 style="padding:0px 10px 10px 10px;">{title}</h6></a></div>',
     noResultsText: 'No results found',
     limit: 10,
     fuzzy: false,
     exclude: ['Welcome']
      })
</script>
</body>
</html>
